{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Application with Docker, Jenkins CI, GitOps, and ArgoCD</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to My Django Application</h1>
        <p>
            I am fooling around with a Django application with Docker, Jenkins CI pipeline,
            followed by GitOps practices, and deployed with ArgoCD to my Kubernetes Cluster.
        </p>
        <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*sFSP-4uK7gEoBxHELIa7cw.jpeg" alt="Devops" class="small-image">
    </div>
</body>
</html>
